.flash.success {
    width: 550px;
    padding: 5px;
    font-weight: bold;
    margin: 20px;
    background: #33FF33;
    color: white;
    text-align: center;
    border:1px solid #ccc;
  }

  .flash.failure {
    width: 550px;
    padding: 5px;
    font-weight: bold;
    margin: 20px;
    background: #FF3333;
    color:white;
    text-align: center;
    border:1px solid #ccc;
  }