<div class="login-page">
<h2 class="login">Welcome Back</h2>
  <div class="form">
  
    <form class="login-form" action="/login" method="post">
      <input type="text" placeholder="username" id="username" name="username" required/>
      <input type="password" placeholder="password" id="password" name="password" required/>
      <button name="user_type" value="client">login as client</button>
      <br><br>
      <button name="user_type" value="lawyer">login as lawyer</button>
      <p class="message">Sign Up Here: <a href="/signup/client">As Client</a> / <a href="/signup/lawyer">As Lawyer</a></p>
    </form>
  </div>
</div>