<h3>Welcome Back! Log In Here:</h3>
<form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="password">Log In As:</label>
    Client<input type="radio" id="user_type" name="user_type" value="client" required>
    Lawyer<input type="radio" id="user_type" name="user_type" value="lawyer">
    <br>
    <input type="submit" value="Log In">
</form>