<h3>Sign Up Below And Provide Legal Assistance To Clients!</h3>
<form action="/signup/lawyer" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="expertise">Expertise:</label>
    Immigration law<input type="checkbox" id="immigaration" name="expertise[]" value="immigration">
    Family law<input type="checkbox" id="family" name="expertise[]" value="family">
    Tax law<input type="checkbox" id="tax" name="expertise[]" value="tax">
    Labour law<input type="checkbox" id="labour" name="expertise[]" value="labour">
    Criminal law<input type="checkbox" id="criminal" name="expertise[]" value="criminal">
    <br>
    <label for="jurisdiction">Jurisdiction</label>
    <input type="text" list="jurisdictions" id="jurisdiction" name="jurisdiction">

    <datalist id="jurisdictions">
        <option value="Austria"></option>
        <option value="Belgium"></option>
        <option value="Bulgaria"></option>
        <option value="Croatia"></option>
        <option value="Republic of Cyprus"></option>
        <option value="Czech Republic"></option>
        <option value="Denmark"></option>
        <option value="Estonia"></option>
        <option value="Finland"></option>
        <option value="France"></option>
        <option value="Germany"></option>
        <option value="Greece"></option>
        <option value="Hungary"></option>
        <option value="Ireland"></option>
        <option value="Italy"></option>
        <option value="Latvia"></option>
        <option value="Lithuania"></option>
        <option value="Luxembourg"></option>
        <option value="Netherlands"></option>
        <option value="Poland"></option>
        <option value="Portugal"></option>
        <option value="Romania"></option>
        <option value="Slovakia"></option>
        <option value="Slovenia"></option>
        <option value="Spain"></option>
        <option value="Sweden"></option>
    </datalist>
    <br>
    <input type="submit" value="Sign Up">
</form>