

<div class="login-page">
<h2>Client Sign Up</h2>
<h4>Ask Questions From Lawyers For Free</h4>
  <div class="form">
  
    <form class="login-form" action="/signup/client" method="post">
      <input type="text" placeholder="username" id="username" name="username" required/>
      <input type="text" placeholder="email" id="email" name="email" required/>
      <input type="password" placeholder="password" id="password" name="password" required/>
      <button name="user_type" value="client">Sign Up</button>
      <p class="message">Already have an account? <a href="/login">Log In</a></p>
    </form>
  </div>
</div>