
<div class="login-page">
<h2 class="login">Free Lawyer</h2>
<h4>Get Legal Help For Free</h4>
<div class="form">
    <form action="/signup/client" method="get">
    <button>Sign Up As A Client</button>
    </form>
    <br>
    <form action="/signup/lawyer" method="get">
    <button>Sign Up As A Lawyer</button>
    </form>
    <br>
    <form action="/login" method="get">
    <button>Log In</button>
    </form>
</div>
</div>