<h2>Welcome to FreeLawyer!<h2>
<h3>Get legal help for free or provide legal help and get upvotes!</h3>
<br>
<a href="/login">Log In</a>
<br>
<br>
<a href="/signup/client">Sign Up As Client</a> 
<br>
<a href="/signup/lawyer">Sign Up As Lawyer</a>