<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>FreeLawyer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/all.css" />
    <link rel="stylesheet" media="screen, projection" href="/stylesheets/flash.css" />
  </head>
  <body>

    <header class="branding">
        <strong><small>&copy; 2020 FreeLawyer</strong></small>
      </header>

    <div class="wrapper">
      

    <div class="page">

        <%if request.path_info != "/" && request.path_info != "/login" && request.path_info != "/signup/client" && request.path_info != "/signup/lawyer"%>
        <nav class="menu">
        <ul class="menu__list">
          <li class="menu__group"><a href="/questions/all" class="menu__link">All Questions</a></li>
          <li class="menu__group"><a href="/questions/users/<%=current_user.username%>" class="menu__link">My Profile</a></li>
          <li class="menu__group"><a href="/lawyers" class="menu__link">Lawyers</a></li>
          <%if user_is_a? == "client"%><li class="menu__group"><a href="/questions/new" class="menu__link">Ask A Question</a></li><%end%>
        </ul>
        </nav>
        <%end%>
      
      <% flash.keys.each do |type| %>
          <div data-alert class="flash <%= type %> alert-box radius">
            <h4><%= flash[type] %></h4>
          </div>
           <script>
              setTimeout("$('.flash').fadeOut('slow')", 3000)
          </script>
        <% end %>
    </div>
    <br>
    
    
        
        <%= yield %>

      <footer class="branding">
        <strong><small>&copy; 2020 FreeLawyer</strong></small>
        <%if logged_in?%>
        <strong><a href="/logout" onclick="return confirm('Are you sure you want to log out?');">Log out</a></strong>
        <%end%>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
